@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.rounded-3 {
	background: #a7c957cd !important;
	border: 2px solid #045029a7;
	margin: 5%;
	font-family: 'Poppins', sans-serif;
}

.btn-primary {
	/* border: none;
	background-color: #6A994E;
	color: #ffffff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
  	font-size: 17px;
  	transition: all .3s ease; */
	background: #57813e !important;
	border: none;
}

.btn-primary:hover{
	background-color: #57813e!important;
	border: none;
  }

.mx-auto {
	padding-top: 20px;
}

.mb-3 .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.mb-3 .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #235c02;
	font: bold;
}

/*recaptcha*/

.mb-3 .recaptcha {
	margin-top: 20px;
}

.error-captcha {
	color: red;
	margin-bottom: 20px;
}