body {
  /* background-color: #081C15; */
  background-color: #FFF3F4;
}

.mt-5 {
  text-align: center;

}

.tiempoh2 {

  color: #386641;
  background-color: #c4d69bcd;
  padding: 2%;
  margin: 20% 2% 2%;
  text-align: center;
}

.input-group {
  width: 50%;
}

button.btn.btn-success.input-group-text {
  background-color: #57813e !important;
}

.card {
  max-width: 70%;
}

.card-title{
  position: absolute;
  padding: 20px;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 300px;
  font-size: 50px;
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 350px;
}



@media (min-width:750px){
  .card {
    max-width: 100%;
  }

  .card-temp{
    margin-top: 240px;
  }

  .card-desc{
    margin-top: 290px;
  }

}

@media (min-width:1200px){

  .card {
    max-width: 60%;
  }

  .card-temp{
    margin-top: 270px;
  }

  .card-desc{
    margin-top: 320px;
  }
}
