.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


  i {
    font-size: 1.6rem;
    margin: 8px;
    cursor: pointer;
    color: #FFF3F4;
    transition: color 0.5s;

    &.in-rate {
      color: #386641;
    }

    &.in-hover {
      color: rgba(56, 102, 65, 0.3);
    }
  }
}